.products_best_main_conainer{
    background-image: url('../../assets/best_bg.jpg');
}

.products_best_main__container{
    padding: 110px 0px;
}

.products_title{
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.products_cards_container{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}