.main_pd_house{
    padding-bottom: 155px;
    padding-top: 145px;
}

.main_bg_content{
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.more_button{
    padding: 5px 35px;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    margin-top: 12px;
    font-size: 10px;
    cursor: pointer;
}

.set_bg_house {
  background-image: url("../../assets/images/main_bg.jpg");
}