.about_main_container {
  background-color: white;
}

.about_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.about_title {
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 0;
}

.about_content {
  font-size: 11px;
}

.about_paragraph_1_mr {
  margin-top: 40px;
}

.beans_img {
  width: 410px;
  height: auto;
  clip-path: polygon(
  13% 0%,
  80% 0%,
  80% 100%,
  13% 100%
);
}

.beans_img_container {
  overflow: hidden;
  width: 435px;
}
