*{
    box-sizing: border-box;
    font-family: "Merienda", cursive;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/main_bg.jpg');
    background-size: cover;
}

.logo_container{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.bean_logo{
    width: 40px;
}

.bean_line{
    width: 70px;
}