* {
  box-sizing: border-box;
  font-family: "Merienda", cursive;
}

body {
  margin: 0;
  padding: 0;
}

.cover{
    background-size: cover;
}

.set_bg_main {
  background-image: url("./assets/main_bg.jpg");
}

.set_bg_our {
  background-image: url("./assets/our_bg.jpg");
  background-position: 50% 42%;
}

.set_bg_pleasure {
  background-image: url("./assets/pleasure_bg.jpg");
  background-position: 50% 42%;
}

.logo_container {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: center;
}

.bean_logo {
  width: 25px;
}

.bean_line {
  width: 45px;
}

.logo_nav {
  width: 30px;
  bottom: 7px;
  position: relative;
}

.names_container {
  display: flex;
  gap: 30px;
  margin-left: -5px;
}

.flex{
    display: flex;
}

.gap_beans_goods{
    gap: 80px
}